* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: auto;
    background: #EEE;
}
#main {
    width: 21cm;
    min-height: 29.7cm;
    background: rgb(255,255,255);
    margin: 0 auto;
}
.top-bar {
    float: left;
    margin-top: .4cm;
    width: 100%;
    height: .8cm;
    background: #254665;
}
.top-bar span {
    float: left;
    margin-left: 3rem;
    width: 10px;
    height: 100%;
    background: white;
}
.info-box {
    float: left;
    width: 19cm;
    margin: .3cm 1cm auto 1cm;
    height: 4cm;
}
.info-box-left {
    float: left;
    width: 15cm;
    height: 100%;
    color: #254665;
}
.info-box h1 {
    font-weight: normal;
    font-size: 30px;
}
.info-box b {
    display: block;
    font-weight: normal;
    font-size: .9rem;
    height: 2rem;
    line-height: 2rem;
}
.info-box p {
    display: block;
    margin-top: .4cm;
    font-size: .9rem;
    height: 2rem;
    line-height: 2rem;
    color: #666;
}
.info-box-right {
    float: left;
    width: 4cm;
    height: 4cm;
}
.info-box-right img {
    width: 2.8cm;
    height: 3.5cm;
    margin: .15cm .5cm;
    border: 2px solid #EEE;
}
.msgbox {
    float: left;
    width: 19cm;
    padding: .5cm 1cm .5cm 1cm;
}
.msg-title, .msg-content {
    float: left;
    color: #254665;
    font-weight: bold;
    width: 100%;
}
.msg-title p {
    float: left;
    width: 17.3cm;
    height: 1cm;
    font-size: 18px;
    font-weight: bold;
    line-height: .8cm;
    margin-left: 10px;
    border-bottom: 1px solid #254665;
}
.msg-icon {
    float: left;
    width: .8cm;
    height: .8cm;
    border-radius: 50%;
    background: #254665;
    text-align: center;
    vertical-align: middle;
    line-height: .8cm;
    color: white;
    font-weight: bold;
}
.msg-content {
    font-weight: normal;
    color: #555;
    font-size: 1rem;
    padding: .5cm 0 0 0;
}
.msg-content * {
    float: left;
}
.jobwanted-content li {
    margin-right: 2rem;
    list-style: none;
}
.exp-content li {
    margin-right: 2rem;
    list-style: none;
    color: #222;
}

.exp-content-once {
    margin-bottom: 10px;
}
.exp-content em {
    display: block;
    width: 18.5cm;
    line-height: 1.5rem;
    font-size: .9rem;
    color: #444;
    word-wrap:break-word;
    text-indent: 2rem;
}
.skill-content p {
    display: block;
    width: 100%;
    line-height: 1.5rem;
    word-wrap:break-word;
    margin-bottom: 10px;
}
.skill-content p a {
    float: none;
    line-height: 1.5rem;
    word-wrap:break-word;
    color: blue;
    margin-bottom: 10px;
}