* {
    margin: 0;
    padding: 0;
    font-family:"Microsoft YaHei", -apple-system, BlinkMacSystemFont,"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans","Helvetica Neue", sans-serif;
}
body {
    float: left;
    width: 100%;
    height: auto;
    background: #FFF;
}
#main {
    float: left;
    width: 100%;
    height: auto;
    background: #FFF;
}
.top-bar {
    float: left;
    margin-top: .3cm;
    width: 100%;
    height: .7cm;
    background: #254665;
    z-index: 1;
}
.top-bar span {
    float: left;
    margin-left: 2rem;
    width: 10px;
    height: 100%;
    background: white;
}
.info-box {
    float: left;
    width: 90%;
    margin: .2cm 5% auto 5%;
    height: auto;
}
.info-box-left {
    float: left;
    width: auto;
    height: 100%;
    color: #254665;
}
.info-box h1 {
    font-weight: normal;
    font-size: 25px;
}
.info-box b {
    display: block;
    font-weight: normal;
    font-size: .9rem;
    height: 2rem;
    line-height: 2rem;
}
.info-box p {
    display: block;
    font-size: .9rem;
    line-height: 2rem;
    color: #666;
}
.info-box-right {
    float: left;
    width: 90%;
    height: 4cm;
}
.info-box-right img {
    width: 2.8cm;
    height: 3.5cm;
    border: 2px solid #EEE;
}
.msgbox {
    float: left;
    width: 90%;
    padding: .5cm 5% .5cm 5%;
}
.msg-title, .msg-content {
    float: left;
    color: #254665;
    font-weight: bold;
    width: 100%;
}
.msg-title p {
    float: left;
    width: 80%;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    margin-left: 10px;
    border-bottom: 1px solid #254665;
}
.msg-icon {
    float: left;
    width: 25px;
    height: 25px;
    font-size: 15px;
    border-radius: 50%;
    background: #254665;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    color: white;
    font-weight: bold;
}
.msg-content {
    font-weight: normal;
    color: #555;
    font-size: 1rem;
    padding: .5cm 0 0 0;
}
.msg-content * {
    float: left;
}
.jobwanted-content li {
    margin-right: 1rem;
    list-style: none;
}
.exp-content li {
    margin-right: 1rem;
    list-style: none;
    color: #222;
}
.exp-content-once {
    margin-bottom: 10px;
}
.exp-content em {
    display: block;
    width: 100%;
    line-height: 1.5rem;
    font-size: .9rem;
    color: #444;
    word-wrap:break-word;
    text-indent: 2rem;
}
.skill-content p {
    display: block;
    width: 100%;
    line-height: 1.5rem;
    word-wrap:break-word;
    margin-bottom: 10px;
    border-bottom: 1px solid #AAA;
}
.skill-content p a {
    float: none;
    line-height: 1.5rem;
    word-wrap:break-word;
    color: blue;
    margin-bottom: 10px;
}
#download-image {
    position: fixed;
    bottom: 0;
    margin-left: -1.25cm;
    left: 50%;
    width: 2.5cm;
    font-size: 14px;
    height: .8cm;
    line-height: .8cm;
    border: 1px solid #AAA;
    font-weight: normal;
    color: #254665;
    background: white;
    text-align: center;
    cursor: pointer;
    z-index: 2;
}

#diasuccess {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    background: rgba(5, 145, 47, 0.6);
    color: #FFF;
    font-weight: bold;
    margin-left: -5rem;
    margin-top: -5rem;
    border-radius: 4px;
}